<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>Assignment 1</h1>	
	<form name="my_form" >
		Enter the first name &nbsp;<input  type="text" name="fname"><br>
		Enter the last name &nbsp;<input  type="text" name="lname"><br>
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON')" value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
